<app-securitydashboard></app-securitydashboard>

<section style="background-color: #eee;">
    <div class="container">
        <div class="row">
            <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
    
                <div class="container">
    
                        <div class="row g-3">
                            
                            <div *ngFor="let i of data" class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
    
                                <div class="card">
                                    <div class="card-body">
                                      <h5 class="card-title">Id : {{i.securityId}}</h5>
                                      <p class="card-text">Name : {{i.securityName}}</p>
                                      <p class="card-text">phone : {{i.phone}}</p>
                                      <p class="card-text">address : {{i.address}}</p>
                                      <p class="card-text">Date of Birth : {{i.dob}}</p>
                                      <p class="card-text">Date of joining : {{i.doj}}</p>
                                      <p class="card-text">email : {{i.email}}</p>
                                      <p class="card-text">password : {{i.password}}</p>
                                    </div>
                                  </div>
                            </div>
                     </div>
                    </div>
            </div>
        </div>
    </div>
    </section>
