<app-securitydashboard></app-securitydashboard>


<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">

            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Employee Id</th>
                    <th scope="col">checkIn Time</th>
                    <th scope="col">checkOut Time</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let i of EmployeeEntryData">
                    <td>{{i.entryId}}</td>
                    <td>{{i.checkIn}}</td>
                    <td>{{i.checkOut}}</td>
                  </tr>
                </tbody>
              </table>

        </div>
    </div>
</div>
